 <!-- Landingpage -->
 <div class="container">
  <div class="row">
    <div class="col-12">
         <h1>Formula del Trapecio</h1>
    </div>
  </div>

<!--Pruebas de menu -->
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">FormTra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-toggle="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12">

    <p>En matematicas, las areas nos ayudan para poder hacer diseños de objetos con los cuales podremos aprovechar el espacio que
      ocupan y poder utilizar eficientemente el espacio que ocupan y acomodarlos mejor.</p>
  </div>
</div>

    <img src="assets/imagen/Trapecio.jpg" class="img-thumbnail mx-auto d-block" width="450" height="300" alt="">

</div>
<div class="container">
  <div class="row">
      <div class="col-12">
          <h1>Calculadora</h1>
          <h3>Por Jose Manuel Vazquez Rojas</h3>
      </div>
  </div>
<app-ui></app-ui>
<router-outlet></router-outlet>
</div>