<input type="number" class="form-control" name="value1" placeholder="Ingrese el valor de Base Mayor(B)" id="value1" [(ngModel)]="value1">
<br>
<br>
<input type="number" class="form-control" name="value2" placeholder="Ingrese el valor de Base menor(b)" id="value2" [(ngModel)]="value2">
<br>
<br>
<input type="number" class="form-control" name="value3" placeholder="Ingrese el valor de la altura(h)" id="value3" [(ngModel)]="value3">
<br>
El area del trapecio (A) es: = {{resultado}}
<br>
<br>
<button class="btn btn-primary"(click)="Area()"> Calcular Area</button>